.button {
  @extend %font-bold;
  padding: 7px 14px;
  border-radius: 2px;
  font-size: .9em;
  border: 0;
  text-transform: uppercase;
  color: $color-white;
  background-color: $color-secondary;
  cursor: pointer;

  &:hover {
    opacity: .9;
  }

  /**
  **** Modifiers
   */

  &__small {
    font-size: .6em;
  }

  &__primary {
    background-color: $color-primary;
  }

  &__danger {
    background-color: $color-danger;
  }


}